.main{
   background-color: aqua;
   height: 200px;
   width: 500px;
   margin-top: 10%;
   margin-left: 30%;
   padding-top: 10%;
   border: 1px solid black;
   border-radius: 10px;
}
.actionField{
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.incBtn {
    height: 30Px;
    width: 100px;
    font-size: larger;
    padding: 0%;
}

button:hover {
    background-color: black;
    color: white;
}

.displayField{
    height: 30px;
    width: 100px;
    font-size: larger;
    text-align: center;
    background-color: rgb(240, 240, 174);
}